.wrapper {
  margin-top: 100px;
}

.basket {
  display: flex;
  flex-direction: column;
}

.beer_item {
  display: grid;
  grid-template-columns: 50px 1fr 200px 100px 250px 150px;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #c1121f;
}

.text {
  font-size: 16px;
  font-weight: bold;
}
.price {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: bold;
}
.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #03071e;
  background-color: white;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #f8f9fa;
  background-color: #c1121f;
}

@media (max-width: 920px) {
  .beer_item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .text {
    font-size: 14px;
  }
  .price {
    font-size: 16px;
  }
}
