.wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper span {
  font-size: 14px;
  color: #f8f9fa;
  margin-left: 5px;
}

@media (max-width: 685px) {
  .wrapper span {
    font-size: 10px;
  }
}

@media (max-width: 530px) {
  .wrapper {
    width: 150px;
  }
}
